@import "../../../../variables";

.choose-user-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  padding: 10px;
  width: calc(100vw - 10px);
  height: calc(100vh - $navbar-height - 20px);
  overflow: auto;

  .choose-user-item {
    border-bottom: 3px solid black;
  }
}
