@import "../../../variables";

.navbar-container {
  height: $navbar-height;
  background-color: $bg-color-navbar;
  color: $color-text-navbar;
  padding: 0 10px;
  @include flex-row-spacebetween-center;

  .navbar-brand {
    img {
      width: 30px;
      height: 30px;
    }
  }
}

.user-info {
  @include flex-row-spacebetween-center;
  padding: 10px;
  .user-profile {
    @include profile-pic-box-shadow;
    background-color: $bg-color-no-profile;
    overflow: hidden;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    img {
      width: 30px;
      height: 30px;
    }
  }

  .user-name {
    font-size: 0.9rem;
    color: $color-text-dimmed;
  }
}
