<div class="container">
  <div class="user-info">
    <div class="image">
      <img [src]="user.id | profilePicOfUser">
    </div>
    <div class="name">
      {{user.name}}
    </div>
    <div class="position">
      <span>Placering: </span><span class="result-container">{{position}}.</span>
    </div>
    <div class="points">
      <span>Points: </span><span class="result-container">{{points}}</span>
    </div>
    <div class="matches-stat">
      <div class="header">Kampe spillet</div>
      <div class="matches-details">
        <div class="total">
          <div>Samlet</div>
          <div><span class="result-container">{{matchesTotal}}</span></div>
        </div>
        <div class="won">
          <div>Vundet</div>
          <div><span class="result-container">{{matchesWon}}</span></div>
        </div>
        <div class="lost">
          <div>Tabte</div>
          <div><span class="result-container">{{matchesLost}}</span></div>
        </div>
      </div>
    </div>
  </div>
  <button class="player-matches" mat-flat-button color="primary" (click)="showMatches()" *ngIf="matchesTotal">Vis spillede kampe</button>
  <div class="chart-filter" *ngIf="matchesTotal">
    <mat-radio-group aria-label="Vælg en mulighed" [value]="chartMode" (change)="chartFilterChange($event)">
      <mat-radio-button value="w">Uger</mat-radio-button>
      <mat-radio-button value="d">Dage</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="charts">
    <canvas id="canvas"></canvas>
  </div>
</div>
