@import "../../../variables";

.ranking-container {
  .ranking-row {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $color-text-dimmed;

    &:last-child {
      border-bottom: none;
    }

    .ranking-details {
      display: flex;
      align-items: center;

      .ranking-image {
        margin-right: 10px;
      }

      .ranking-position {
        margin-right: 10px;
      }
    }

    .ranking-button {
      display: flex;
      align-items: center;

      .ranking-points {
        margin-right: 5px;
      }
    }
  }
}

.profile-image {
  @include profile-pic-box-shadow;
  display: inline-block;
  background-color: $bg-color-no-profile;
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  height: 40px;

  img {
    width: 40px;
    height: 40px;
  }
}
