<h1>Måske lave dem om til at billede er først</h1>
<table>
  <thead>
    <tr>
      <th>Nr.</th>
      <th>Navn</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of rankingUsers$ | async; let i=index" (click)="rowClicked(user)">
      <td><div class="position-container">{{i+1}}</div></td>
      <td>
        <div class="profile-name-container">
          <div class="profile-image"><img [src]="user.photoUrl" alt=""></div>
          <span class="profile-name">{{user.name}}</span>
        </div>
      </td>
      <td>{{user.points}}</td>
    </tr>
  </tbody>
</table>
<app-fab-button (fabClick)="addMatchClicked()"></app-fab-button>
