@import "../../../variables";
.container {
  display:  flex;
  flex-direction: column;
  align-items: center;

  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 20px 0 5px 0;
  }

  .btn {
    border: none;
    width: 80px;
    height: 80px;
    background-color: $bg-color-no-profile;
    text-align: center;
    font-size: 0.8rem;
    overflow: hidden;
    border-radius: 50%;

    .no-profile-image {
      img {
        padding-top: 10px;
        width: 70px;
        height: 70px;
      }
    }

    .profile-image {
      img {
        width: 80px;
        height: 80px;
      }
    }
  }

  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  .profile-image-text {
    font-size: 0.8rem;
    color: $color-text-dimmed;
  }

  form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;

    .form-fields {
      max-width: 400px;
      width: 100%;

      .form-field {
        width: 100%;
      }

      .gender-chooser {
        label {
          color: $color-text-dimmed;
        }
        margin-top: 40px;
        display: flex;
        flex-direction: column;

        mat-radio-group {
          display: flex;
          flex-direction: column;
        }
      }

      .signup-form-button {
        display: flex;
        margin-top: 20px;
        justify-content: center;
      }
    }
  }
}

.image-cropper-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  padding: 5px;
  background-color: black;
  top: 0;
  left: 0;

  .image-cropper-buttons {
    @include flex-row-spacebetween-center;
    padding: 20px;
  }

  .image-cropper-preview {
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }
}
