<div class="container">
  <div class="upload-btn-wrapper" (click)="profileImageClicked()">
    <div class="btn">
      <div [ngClass]="{'no-profile-image': !showProfileImage, 'profile-image': showProfileImage}">
        <img [src]="profileImage" />
      </div>
    </div>
    <input type="file" (change)="choosePhoto($event)" *ngIf="!showProfileImage">
  </div>
  <div class="profile-image-text" *ngIf="!showProfileImage">Klik for at tilføje et profilbillede</div>
  <div class="profile-image-text" *ngIf="showProfileImage">Klik for at fjerne profilbilledet</div>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="form-fields">
      <mat-form-field class="form-field">
        <input matInput placeholder="Dit navn" id="name" name="name" formControlName="name">
        <mat-hint>Det navn der vil blive vist på ranglisten og andre spillere kan finde dig ved når kampe skal
          registeres.
        </mat-hint>
      </mat-form-field>
      <div class="gender-chooser">
        <label id="choose-gender-label">Vælg dit køn:</label>
        <mat-radio-group aria-labelledby="choose-gender-label" formControlName="gender">
          <mat-radio-button value="f">Kvinde</mat-radio-button>
          <mat-radio-button value="m">Mand</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="signup-form-button">
        <button mat-flat-button color="primary" type="submit"
          [disabled]="signupForm.invalid || signupForm.untouched">Gem</button>
      </div>
    </div>
  </form>
</div>

<div class="image-cropper-container" [@cropperShow]="cropperShowState">
  <div class="image-cropper-buttons">
    <div>
      <button mat-flat-button color="accent" (click)="cropAction('cancel')">Fortryd</button>
    </div>
    <div>
      <img class="image-cropper-preview" [src]="croppedImage" />
    </div>
    <div><button mat-flat-button color="primary" (click)="cropAction('save')">Afslut</button></div>
  </div>
  <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="1 / 1"
    [resizeToWidth]="128" [outputType]="'base64'" format="png" (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>
</div>
