<tr (click)="rowClicked()">
  <td>
    <div class="position-container">{{position}}</div>
  </td>
  <td>
    <div class="profile-name-container">
      <div class="profile-image"><img
          src="https://firebasestorage.googleapis.com/v0/b/sbv-ranking.appspot.com/o/images%2Fprofile_PIJSAv5B4JfIjcuSyCdZtb1b4fr2.png?alt=media&token=18f96d63-f9d5-47f8-8c20-95a7e98aaea6"
          alt=""></div>
      <span class="profile-name">{{user.name}}</span>
    </div>
  </td>
  <td>{{user.points}}</td>
</tr>
