@import "variables";

/* Track */
::-webkit-scrollbar-track {
  background: $bg-color-scrollbar-track;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $bg-color-scrollbar-thumb;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $bg-color-scrollbar-thumb-hover;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
