@import "variables";

router-outlet ~ * {
  position: absolute;
  height: calc(100% - $navbar-height - 20px);
  width: calc(100% - 20px);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.app-button-outline {
  outline: none!important;
}

.app-icon {
  margin-right: 5px;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $bg-color-scrollbar-track;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $bg-color-scrollbar-thumb;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $bg-color-scrollbar-thumb-hover;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
